* {
  font-family: sans-serif;
}

body {
  margin: 0;
}

nav {
  background-color: #333;
  padding-top: 5px;
  ul {
    list-style-type: none;
    padding-left: 5px;
    margin: 0;
  }
  li {
    background-color: #666;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 5px 0 5px;
    a {
      color: white;
      text-decoration: none;
      text-align: center;
    }
  }
  li:hover {
    background-color: #777;
  }
}
